
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

div {
	display: block;
}

nav {
	position: fixed;
	height: 75px;
	width: 100%;
	font-size: 20px;
}

nav div{
	background-color: #eebb44;
}

nav h1{
	
	line-height: 1;
	margin-bottom: 0;
}

nav p{
	margin-top: 8px;
}

h1 {
	font-size: 32px;
}

main {
	display: block;
  	padding-top: 150px;
}


main .row {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px; 
  border: 1px solid grey;
  border-radius: 3px;

}

.card-content{
	padding: 20px;
	margin-left: 15px;
}


.card-image{
	width: 100%;
}

